<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
    </system.web>
   
  <appSettings>
    <add key="ValidationSettings: UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!-- this is the new bit to add for database migration -->
  <connectionStrings>
    <!-- uncomment the connection string that's appropriate for your environment, or add a new one -->
    <!-- please leave the others and just comment them out because it helps migrate the project back and forth between team members -->
    <!-- then replace all connection strings in code-behind with ConfigurationManager.ConnectionStrings["swiftServeDB2"].ConnectionString -->
    <!-- you will need to add using System.Configuration; to all modified code-behind files -->
    
    <!-- the E216 lab -->
    <!-- ->
    <add name="swiftServeDB" connectionString="Data Source=PR-E216-42\\MSSQLSERVER2016;Initial Catalog=SwiftServe;Integrated Security=True"/>
    <!- -->
    <!-- -->
    <add name="swiftServeDB" connectionString="Data Source=PR-A317-17\\MSSQLSERVER2016;Initial Catalog=SwiftServe;Integrated Security=True"/>
    <!-- -->
    <!-- Dylan working at home -->
    <!-- ->
    <add name="swiftServeDB" connectionString="Data Source=PRIS;Initial Catalog=SwiftServe;Integrated Security=True"/>
    <!- -->
  </connectionStrings>
  <!-- end of the new bit for database migration -->

</configuration>
